/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(207, 202, 202);
  overflow: hidden;
  box-shadow: 5px 2.5px 2.5px rgb(49, 48, 48);
  width: 98%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #0f0f0f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(3, 71, 8);
  color: rgb(245, 240, 240);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(9, 3, 58);
  color: rgb(246, 242, 242);
}
