.container {
  /* background-color: #282c34; */
  color: black;
  padding: 40px;
  padding-top: 5px;
  /* font-family: Arial; */
  text-align: left;
}
.title {
  text-align: left;
  padding: 10px;
  padding-bottom: 0px;
  font-family: Arial;
  font-weight: 700;
  /* fontFamilyBase */
}
.wrapper {
  column-gap: '15px';
  display: 'flex';
}
